<div class="header">

    <h1>Welcome to {{title}}</h1>
    <p>"Review your experience after you ate!"</p>
    <button class="view-restaurants">
        <a href="/restaurants/view-restaurants">View Restaurants</a>
    </button>

</div>

{{#if errorMessage}}
    <p>{{errorMessage}}</p>
{{/if}}
