<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href = "/users/signup">Sign Up</a>
      <a href = "/users/login">Login</a>
      <a href = "/restaurants/view-restaurants">View Restaurants</a>
      <a href = "/restaurants/add-restaurant">Add Restaurant</a>
      <a href = "/users/logout">Logout</a>
    </nav>
    {{{body}}}
  </body>
</html>