<h2>Add Restaurant</h2>

<form action="/restaurants/add-restaurant" method="post">
    <label for="">Name</label>
    <input type="text" name="name">

    <label for="">Description</label>
    <input type="text" name="description">

    <label for="">Image</label>
    <input type="text" name="imageUrl">

    <button type="submit">Add Restaurant</button>
</form>