<h2>Add Restaurant</h2>

<form action="/restaurants/add-restaurant" method="post" enctype="multipart/form-data">
    <label for="">Name</label>
    <input type="text" name="name">

    <label for="">Description</label>
    <input type="text" name="description">

    <label for="">Image</label>
    <input type="file" name="imageUrl" accept="image/gif, image/png, image/jpeg, image/bmp, image/webp, image/jpg">

    <button type="submit">Add Restaurant</button>
</form>