<div class="restaurants-h2">
    <h2>Restaurants</h2>
</div>

<div class="each-restaurant">
    {{#each foundRestaurants}}

        {{> eachRestaurant}}

        <a href="/restaurants/details/{{_id}}">See Details</a>

    {{/each}}
</div>